.hashcontainer {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
            "title title title"
            "lastsec lastsec lastsec"
            "headermin headerhour headerday"
            "lasthour lastday lastday";
    margin: auto;
}

.title {  grid-area: title;  }

.headersec {  grid-area: headersec;  }

.headermin {  grid-area: headermin;  }
.lastmin {  grid-area: lastmin;  }

.headerhour {  grid-area: headerhour;  }
.lasthour {  grid-area: lasthour;  }

.headerday {  grid-area: headerday;  }
.lastday {  grid-area: lastday;  }

.griditem {
    display: flex;
    align-items: center;
}

.third {  width: 33.3%;  }

.centertext{  text-align: center;  }

.bigtext {  font-size:30px;  }