.hashcontainer {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
            "title title title"
            ". nsec ."
            "tmin thour tday"
            "nmin nhour nday";
    margin: auto;
}

.title {  grid-area: title;  }

.tsec {  grid-area: tsec;  }

.tmin {  grid-area: tmin;  }
.nmin {  grid-area: nmin;  }

.thour {  grid-area: thour;  }
.nhour {  grid-area: nhour;  }

.tday {  grid-area: tday;  }
.nday {  grid-area: lastday;  }

.griditem {

}

.third {  width: 33.3%;  }

.centertext{  text-align: center;  }

.bigtext {  font-size:30px;  }